.card-content {
  width: 360px;
  border-radius: 10px;
}

.card-content#IdServer {
  height: 309px;
}

.card-content#Diamonds {
  height: 351px;
}

.card-content#Pembayaran {
  height: 240px;
}

.card-content#Email {
  height: 126px;
}

@media (min-width: 992px) {
  .card-content#Diamonds {
    height: 309px;
    width: 40em;
  }

  .card-content#Pembayaran {
    height: 240px;
    width: 40em;
  }

  .card-content#Email {
    height: 126px;
    width: 40em;
  }

  .card-content#IdServer {
    width: 40em;
    height: 230px;
  }
}

p,
label {
  font-family: "Sunflower";
  color: black;
}

.input {
  height: 28px;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input#idUser {
  width: 145px;
}

.input#serverUser {
  width: 94px;
}

#info {
  font-size: 14px;
  line-height: 18px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -mozilla-appearance: none;
  vertical-align: text-bottom;
}

.card-diamond {
  width: 143px;
  height: 62px;
  border-radius: 10px;
  /* background-color: #9dc08b; */
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

input[name="jumlahDiamond"]:checked + .card-diamond {
  border: 3px solid #40513b;
}

.card-diamond:hover {
  border: 3px solid #40513b;
}

.card-pmbayaran {
  width: 100%;
  height: 51px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

input[name="pembayaran"]:checked + .card-pmbayaran {
  border: 3px solid #40513b;
}

.card-pmbayaran:hover {
  border: 3px solid #40513b;
}

.card-content#Notelp {
  height: 126px;
}

.input#Nomortelp {
  width: 312px;
}
