.tombol-bayar {
    width: 230px;
    height: 42px;
    background-color: #609966;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    font-family: 'Sunflower';
    font-style: normal;
    color: white;
    font-size: 20px;
    line-height: 25px;
}

.text-bayar {
    font-family: 'Sunflower';
    font-style: normal;
    color: white;
    font-size: 20px;
    line-height: 25px;
    
}
