.halaman-bayar{
    height: 100dvh;
    width: 100dvw;
    z-index: 1;
}

.card-bayar{
    background-color: white;
    width: 360px;
    height: 430px;
    border: 1px dashed black;
    border-radius: 10px;
    padding: 50px;
}


.tombol-bukti-bayar {
    width: 200px;
    height: 42px;
    background-color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    font-family: 'Sunflower';
    font-style: normal;
    color: white;
    font-size: 20px;
    line-height: 25px;
}

.tombol-bukti-bayar:hover{
    background-color: white;
    color: #000;
}

.tombol-kembali {
    width: 130px;
    height: 42px;
    background-color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    font-family: 'Sunflower';
    font-style: normal;
    color: white;
    font-size: 20px;
    line-height: 25px;
}

.tombol-kembali:hover{
    background-color: white;
    color: #000;
}
